* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: #333;
  line-height: 1.6;
}

.navbar,
.navbar a,
.showcase {
  color: #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1, h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 0.5em 0;
}

p {
  margin: 0.5em 0;
}

img {
  width: 100%;
}

.navbar .container {
  align-items: center;
  justify-content: space-between;
}


/* NAVBAR */
.navbar {
  background: var(--primary-color);
  height: 70px;
  /* border: 2px solid magenta; */
}

nav ul {
  padding: 0 1em;
}

nav li {
  margin: 0 1em;
}

.navbar a {
  padding: 0.5em;
}

.navbar a:hover {
  border-bottom: 2px solid #fff;
}

/* SHOWCASE */
.showcase {
  background: var(--primary-color);
  height: 400px;
  position: relative;
  padding-top: 3em;
}

.showcase h2 {
  font-size: 2rem;
}

.showcase p {
  margin-bottom: 2.5em;
}

.showcase .grid {
  grid-template-columns: 55% 45%;
  gap: 3em;
  overflow: visible;
}

.showcase-form {
  position: relative;
  height: 350px;
  width: 400px;
  top: 60px;
  z-index: 100;
  justify-self: flex-end;
  
}

/* Slant effect */
.showcase::before, 
.showcase::after {
  content: '';
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: white;
  transform: skewY(-3deg);
}

/* Form elements */
.showcase-form .form-control {
  margin: 2em 0;
}

.showcase-form input[type='text'], 
.showcase-form input[type='email'] {
  padding: 0.5em 0;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #b4becb;
  font-size: 1rem;
}

.showcase-form input:focus {
  outline: none;
}

/* STATS */
.stats {
  padding-top: 100px;
}
.stats-heading {
  max-width: 500px;
  margin: 0 auto;
}

.stats .grid h3 {
  font-size: 2.25rem;
}

.stats .grid p {
  font-size: 1.25rem;
  font-weight: 400;
}

/*  CLI  */
.cli .grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1em;
}

.cli .grid > *:first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

/*  CLOUD  */
.cloud .grid {
  grid-template-columns: 4fr 3fr;
}

.cloud p {
  margin-bottom: 2em;
}

/* Languages */
.languages .flex {
  flex-wrap: wrap;
  justify-content: center;
}

.languages .card {
  text-align: center;
  margin: 18px 10px 40px;
  padding: 3em;
  transition: transform 0.3s ease-in;
}

.languages .card:hover {
  transform: translateY(-15px);
}

.languages .card h4 {
  font-size: 1.25rem;
  margin-bottom: 0.5em;
}

/*  Footer */
.footer p, 
.footer a {
  color: #fff;
}

.footer .social a {
  margin: 0 1em;
}

/* Tablets and under */
@media (max-width: 768px) {
  .grid,
  .showcase .grid,
  .stats .grid,
  .cli .grid,
  .cloud .grid,
  footer .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .showcase {
    height: auto;
  }

  .showcase-text {
    text-align: center;
    margin-top: 1.5em;
  }

  .showcase-form {
    justify-self: center;
  }

  .cli .grid > *:first-child {
    grid-column: 1;
    grid-row: 1;
  }

  .cli .card {
    /* padding: 1em 0; */
    padding: 20px;
  }
}

/* Mobile */
@media (max-width: 500px) {
  .navbar {
    height: 140px;
  }

  .navbar .container {
    flex-direction: column;
  }

  .navbar ul {
    padding: 0.7em;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .footer .grid {
    text-align: center;
  }
}