:root {
  --primary-color: #047aed;
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: #333;
  line-height: 1.6;
}

.navbar,
.navbar a,
.showcase {
  color: #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1, h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 0.5em 0;
}

p {
  margin: 0.5em 0;
}

img {
  width: 100%;
}

code, pre {
  color: #fff;
  background: #333;
  padding: 10px;
}

.navbar .container {
  align-items: center;
  justify-content: space-between;
}


/* NAVBAR */
.navbar {
  background: var(--primary-color);
  height: 70px;
  /* border: 2px solid magenta; */
}

nav ul {
  padding: 0 1em;
}

nav li {
  margin: 0 1em;
}

.navbar a {
  padding: 0.5em;
}

.navbar a:hover {
  border-bottom: 2px solid #fff;
}

/* SHOWCASE */
.showcase {
  background: var(--primary-color);
  height: 400px;
  position: relative;
  padding-top: 3em;
}

.showcase-text {
  padding: 0 1.5em;
  animation: slideInFromLeft 1s ease-in;
}

.showcase h2 {
  font-size: 2rem;
}

.showcase p {
  margin-bottom: 2.5em;
}

.showcase .grid {
  grid-template-columns: 55% 45%;
  gap: 3em;
  overflow: visible;
}

.showcase-form {
  position: relative;
  height: 350px;
  width: 400px;
  top: 60px;
  z-index: 100;
  justify-self: flex-end;
  
  animation: slideInFromRight 1s ease-in;
}

/* Slant effect */
.showcase::before, 
.showcase::after {
  content: '';
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: white;
  transform: skewY(-3deg);
}

/* Form elements */
.showcase-form .form-control {
  margin: 2em 0;
}

.showcase-form input[type='text'], 
.showcase-form input[type='email'] {
  padding: 0.5em 0;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #b4becb;
  font-size: 1rem;
}

.showcase-form input:focus {
  outline: none;
}

/* STATS */
.stats {
  padding-top: 100px;
  animation: slideInFromBottom 1s ease-in;
}
.stats-heading {
  max-width: 500px;
  margin: 0 auto;
}

.stats .grid h3 {
  font-size: 2.25rem;
}

.stats .grid p {
  font-size: 1.25rem;
  font-weight: 400;
}

/*  CLI  */
.cli .grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1em;
}

.cli .grid > *:first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

/*  CLOUD  */
.cloud .grid {
  grid-template-columns: 4fr 3fr;
  animation: slideInFromRight 1s ease-in;
}

.cloud p {
  margin-bottom: 2em;
}

/* Languages */
.languages .flex {
  flex-wrap: wrap;
  justify-content: center;
}

.languages .card {
  text-align: center;
  margin: 18px 10px 40px;
  padding: 3em;
  transition: transform 0.3s ease-in;
}

.languages .card:hover {
  transform: translateY(-15px);
}

.languages .card h4 {
  font-size: 1.25rem;
  margin-bottom: 0.5em;
}

/* FEATURES */
.features-head img,
.docs-head img {
  width: 200px;
  justify-self: end;
}

.features-sub-head img {
  width: 300px;
  justify-self: end;
}

.features-main .grid {
  padding: 1.875em;
}

.features-main .grid > *:first-child {
  grid-column: 1 / span 3;
}

.features-main .grid > :nth-child(2) {
  grid-column: 1 / span 2;
}

.features-main .flex {
  align-items: center;
}

.features-main .card {
  transition: transform 0.3s ease-in;
  padding: 2em 1em;
}

.features-main .card:hover {
  transform: translateY(-15px)
}

.features-main .card > i {
  margin-right: 0.7em;
  color: var(--primary-color);
}

/* DOCS */

.docs-main h3 {
  margin: 1.125em 0;
}

.docs-main .grid {
  grid-template-columns: 1fr 2fr;
  align-items: flex-start;
}

.docs-main li {
  font-size: 1.115rem;
  padding: 0.5em 0;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #ccc;
}

.docs-main a:hover {
  font-weight: bold;
}

/*  Footer */
.footer p, 
.footer a {
  color: #fff;
}

.footer .social a {
  margin: 0 1em;
}

/* ANIMATIONS */ 
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* MEDIA QUERIES */

/* Tablets and under */
@media (max-width: 768px) {

  .navbar nav,
  .logo {
    animation: slideInFromTop 0.5s ease-in;
  }

  .grid,
  .showcase .grid,
  .stats .grid,
  .cli .grid,
  .cloud .grid,
  footer .grid,
  .features-main .grid,
  .docs-main .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .showcase {
    height: auto;
  }

  .showcase-text {
    text-align: center;
    margin-top: 1.5em;
  }

  .showcase-form {
    justify-self: center;
  }

  .cli .grid > *:first-child {
    grid-column: 1;
    grid-row: 1;
  }

  .cli .card {
    /* padding: 1em 0; */
    padding: 20px;
  }

  .footer .grid {
    text-align: center;
  }

  .features-head,
  .features-sub-head,
  .docs-main .card,
  .docs-head {
    text-align: center;
  }

  .features-head img,
  .features-sub-head img,
  .docs-head img {
    justify-self: center;
  }

  .features-main .grid > *:first-child,
  .features-main .grid > *:nth-child(2) {
    grid-column: 1;
  }
}

/* Mobile */
@media (max-width: 500px) {
  .navbar {
    height: 140px;
    
  }

  .navbar .container {
    flex-direction: column;
  }

  .navbar ul {
    padding: 0.7em;
    background-color: rgba(0, 0, 0, 0.1);
    animation: slideInFromTop 0.5s ease-in;
  }

  .showcase-text,
  .features-head .container,
  .docs-head .container {
    animation: fadeIn 1s ease-in;
  }

  .showcase-form {
    animation: slideInFromBottom 1s ease-in;
  }
}