/* UTILITY CLASSES */
:root {
  --primary-color: #047aed;
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #f4f4f4;
}

/* buttons */

.btn {
  border-radius: 5px;
  background: var(--primary-color);
  color: #fff;
  border: 0;
  padding: 0.75em 1.5em;
  cursor: pointer;
}

.btn-outline {
  background: transparent;
  border: 1px solid #fff;
  padding: 1em 2.5em;
}

.btn-primary {
  padding: 0.7em 2em;
}

.btn:hover {
  transform: scale(1.1);
}

/* Backgrounds and coloured buttons */
.bg-primary,
.btn-primary {
  background: var(--primary-color);
  color: #fff;
}

.bg-secondary,
.btn-secondary {
  background: var(--secondary-color);
  color: #fff;
}

.bg-dark,
.btn-dark {
  background: var(--dark-color);
  color: #fff;
  border: 1px solid #fff;
}

.bg-light,
.btn-light {
  background: var(--light-color);
  color: #333;
}

/* Text Sizes */
.lead {
font-size: 1.25rem;
}

.sm {
  font-size: 1rem;
}

.md {
  font-size: 2rem;
}

.lg {
  font-size: 3rem;
}

.xl {
  font-size: 4rem;
}

.text-center {
  text-align: center;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1em;
  /* overflow: auto; fixes h1 overflow */
  /* border: 1px solid magenta; */
}


.card {
  background: #fff;
  color: #333;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  padding: 1em;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5em;
}

.grid-3 {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.grid-span-2 {
  grid-column: span 2;
  grid-row: span 2;
}

.grid-col-span-2 {
  grid-column: 1 / span 2;
}

.grid-col-span-3 {
  grid-column: 1 / span 3;
}

/* MARGIN / PADDING */

/* Margins - y axis */

.my-1 {
margin: 1em 0;
}

.my-2 {
margin: 1.5em 0;
}

.my-3 {
margin: 2em 0;
}

.my-4 {
margin: 3em 0;
}

.my-5 {
margin: 4em 0;
}

/* Margins - global */

.m-1 {
margin: 1em;
}

.m-2 {
margin: 1.5em;
}

.m-3 {
margin: 2em;
}

.m-4 {
margin: 3em;
}

.m-5 {
margin: 4em;
}

/* Padding - y axis */

.py-1 {
padding: 1em 0;
}

.py-2 {
padding: 1.5em 0;
}

.py-3 {
padding: 2em 0;
}

.py-4 {
padding: 3em 0;
}

.py-5 {
padding: 4em 0;
}

/* Padding - global */

.p-1 {
padding: 1em;
}

.p-2 {
padding: 1.5em;
}

.p-3 {
padding: 2em;
}

.p-4 {
padding: 3em;
}

.p-5 {
padding: 4em;
}